<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>分类页面</title>
    <style>
        body {
            text-align: center;
        }

        h1 {
            font-size: 36px;
            margin-top: 20px;
        }

        .button {
            font-size: 20px;
            margin: 20px;
            padding: 10px 20px;
            background-color: #007BFF;
            color: white;
            text-decoration: none;
            border: none;
            border-radius: 5px;
        }

        .results-container {
            display: flex;
            justify-content: space-between;
        }

        .textarea-container {
            width: 48%;
            max-width: 48%; /* 设置文本框容器的最大宽度 */
        }

        textarea {
            width: 80%;
            height: 300px;
            margin: 20px;
            padding: 10px;
            resize: none;
        }

        #homeLink {
            position: absolute;
            top: 10px; /* 距离顶部的距离 */
            right: 10px; /* 距离右侧的距离 */
        }
        #next {
            position: absolute;
            bottom: 10px; /* 距离顶部的距离 */
            right: 10px; /* 距离右侧的距离 */
        }
    </style>
</head>
<body background="../static/background.jpg">
    <a href="/" id="homeLink">
        <img src="../static/home_icon.png" alt="回到主页" width="30" height="30">
    </a>
    <a href="/snl" id="next">
        <img src="../static/next.png" alt="下一步" width="30" height="30">
    </a>
    <h1>词语分词和分类页面</h1>
    <form id="uploadDictForm" enctype="multipart/form-data">
        <input type="file" name="file" id="dictFileInput" style="display: none;">
    </form>
    <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" name="file" id="fileInput" style="display: none;">
    </form>
    <button class="button" id="uploadDictButton">上传原始字典</button>
    <button class="button" id="uploadButton">上传句子结构文件</button>

    <div class="results-container">
        <div class="textarea-container">
            <h2>分词结果</h2>
            <textarea id="segResult" readonly></textarea>
            <button class="button" id="segSaveButton">保存分词结果</button>
        </div>
        <div class="textarea-container">
            <h2>分类结果</h2>
            <textarea id="classResult" readonly></textarea>
            <button class="button" id="classSaveButton">保存分类结果</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var segResult = "";
        var classifyResult = "";
        $(document).ready(function() {
            // 上传文件按钮点击事件
            $('#uploadButton').click(function() {
                $('#fileInput').click();
            });
            $('#uploadDictButton').click(function() {
                $('#dictFileInput').click();
            });

            // 文件选择时

            $('#dictFileInput').change(function() {
                var formData = new FormData($('#uploadDictForm')[0]);

                $.ajax({
                    type: 'POST',
                    url: '/uploadDict', // Flask路由
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        alert('上传成功');
                        console.log(data);
                    },
                    error: function(error) {
                        alert('上传文件时发生错误：' + error.responseText);
                    }
                });
            });
            $('#fileInput').change(function() {
                //清空文本框
                $('#classResult').val("");
                $('#segResult').val("");

                var formData = new FormData($('#uploadForm')[0]);
                $.ajax({
                    type: 'POST',
                    url: '/classify', // Flask路由
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        // 更新分词结果文本框
                        segResult = data.segmentation_result;
                        console.log(segResult);
                        var segStr = "";
                        for(var item of segResult){
                            segStr += "原文：" + item.text + "\n\n分词结果：" + item.words.join('，') + "\n\n\n";
                        }
                        $('#segResult').val(segStr);

                        // 更新分类结果文本框
                        classifyResult = data.classification_result;
                        var classifyStr = "";
                        if(typeof classifyResult == "string"){
                            classifyStr = classifyResult;
                        }
                        else{
                            classifyStr = "名词：\n";
                            name_map = {"ENT": "实体","PEOPLE": "人员与组织架构","PROP": "属性","OTHER": "其它"};
                            for(const [key, value] of Object.entries(classifyResult["NounItems"])){
                                var fineTag = value["FineTags"].join('，');
                                if(fineTag.length == 0){
                                    fineTag = "无";
                                }
                                classifyStr += "\t" + value["Name"] + "\n\t\t粗标签：" + name_map[value["SecondaryTag"]] + "\n\t\t细标签：" + fineTag + "\n";
                            }
                            classifyStr += "\n动词：\n";
                            for(var item in classifyResult["VerbItems"]){
                                classifyStr += "\t" + item + "\n";
                            }
                            classifyStr += "\n副词形容词：\n";
                            for(var item in classifyResult["AdItems"]){
                                classifyStr += "\t" + item + "\n";
                            }
                            classifyStr += "\其他词性：\n";
                            for(var item in classifyResult["OtherItems"]){
                                classifyStr += "\t" + item + "\n";
                            }
                        }
                        $('#classResult').val(classifyStr);
                    },
                    error: function(error) {
                        alert('上传文件时发生错误：' + error.responseText);
                    }
                });
                // 清空文件
                $('#fileInput').val("");
            });

            // 保存分词结果按钮点击事件
            $('#segSaveButton').click(function() {
                // 创建一个虚拟链接并触发下载
                var blob = new Blob([JSON.stringify(segResult)], { type: 'text/plain' });
                var url = window.URL.createObjectURL(blob);
                var a = document.createElement('a');
                a.href = url;
                a.download = '分词结果.json';
                a.click();
                window.URL.revokeObjectURL(url);
            });

            // 保存分类结果按钮点击事件
            $('#classSaveButton').click(function() {
                // 创建一个虚拟链接并触发下载
                var blob = new Blob([JSON.stringify(classifyResult)], { type: 'text/plain' });
                var url = window.URL.createObjectURL(blob);
                var a = document.createElement('a');
                a.href = url;
                a.download = '分类结果.json';
                a.click();
                window.URL.revokeObjectURL(url);
            });
        });
    </script>
</body>
</html>
